overlay/build/.map
overlay/build/audio.d
overlay/build/audio.o
overlay/build/cJSON.d
overlay/build/cJSON.o
overlay/build/config.d
overlay/build/config.o
overlay/build/debug_funcs.d
overlay/build/debug_funcs.o
overlay/build/download_funcs.d
overlay/build/download_funcs.o
overlay/build/exception_wrap.d
overlay/build/exception_wrap.o
overlay/build/get_funcs.d
overlay/build/get_funcs.o
overlay/build/global_vars.d
overlay/build/global_vars.o
overlay/build/haptics.d
overlay/build/haptics.o
overlay/build/hex_funcs.d
overlay/build/hex_funcs.o
overlay/build/http_client.d
overlay/build/http_client.o
overlay/build/ini_funcs.d
overlay/build/ini_funcs.o
overlay/build/json_funcs.d
overlay/build/json_funcs.o
overlay/build/list_funcs.d
overlay/build/list_funcs.o
overlay/build/main.d
overlay/build/main.o
overlay/build/mod_funcs.d
overlay/build/mod_funcs.o
overlay/build/ocr.d
overlay/build/ocr.o
overlay/build/path_funcs.d
overlay/build/path_funcs.o
overlay/build/screenshot.d
overlay/build/screenshot.o
overlay/build/string_funcs.d
overlay/build/string_funcs.o
overlay/build/tesla.d
overlay/build/tesla.o
overlay/build/translate.d
overlay/build/translate.o
overlay/build/tsl_utils.d
overlay/build/tsl_utils.o

# 编译产物（部署到 Switch 用，不入库）
overlay/translatenx.elf
overlay/translatenx.ovl
overlay/translatenx.nacp
